label.done{
    text-decoration: line-through;
    color: #505160;
}
div.c-task-row{
   display: flex;
   justify-content: space-between;
}
div>div.task-col{
    margin: 5px;
}

span.cont-trash{
    cursor: pointer;
}
div.c-task-row{
    border-bottom: solid ;
}
div.c-task-row :hover{
    color:#68829E;
}

/* <img src="https://img.icons8.com/material-rounded/24/000000/trash.png"/> */